<div class="bg-image">
  <div *ngIf="!registerMode" style="text-align: center">
  <h1 class="title"><b>Lovely</b></h1>
  <div >
  <p class="lead">Now More Than Ever, Having Someone To Talk To Can Make A World Of Difference</p>
  <p class="lead">
    On Lovely, you’re more than just a photo. You have stories to tell, and passions to share, <br/>and things to talk about that are more interesting than the weather.<br/> Get noticed for who you are, not what you look like. <br/>Because you deserve what dating deserves: better.</p>
  <div class ="text-center">
    <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">Join Lovely</button>
  </div>
  </div >
</div>
  <div *ngIf="registerMode" class="container">
      <div class="row justify-content-center">
        <div class="col-4">
          <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
        </div>
      </div>
  </div>
</div>